endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=complexo;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

start vrp

ensure [system]
ensure [complexo]
ensure [weapons]
ensure [addons]

sv_scriptHookAllowed 0

#rcon_password

sets tags "complexo, bahamas, vrp, roleplay"

sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

#sv_pureLevel 1

sets banner_detail ""
sets banner_connecting ""

### Permissões ###
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:110000132287837 group.admin

### OneSync ###
set onesync on
set onesync_population true
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

### EndPoint ###
set sv_endpointprivacy true

### Build ###
set sv_enforceGameBuild 2802

### Voice ###
setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "Complexo - Ato 2"
sets sv_projectName "Complexo - Ato 2"
sets sv_projectDesc "Complexo - Ato 2"
sets Discord "https://discord.gg/YcGY9fQX3V"
sets Dev "kazuto"
set Grupo "Rise Studios"

### Players ###
sv_maxclients 4

set steam_webApiKey "SUAWEBAPIKEY"
sv_licenseKey SUALICENCEKEY
